#metaInfo {
    position: absolute;
    margin: 1;
    left: 37px; top: 245px;
    width: 280px; height:18px;
    color: #000000;
    text-align: left;
    font-weight: regular;
    line-height: 1.5;
    font-family: Helvetica;
    font-style: normal;
    overflow: hidden;
}
#stationInfo {
    position: absolute;
    margin: 1;
    left: 37px; top: 233px;
    width: 312px; height:18px;
    color: #626262;
    text-align: left;
    font-weight: regular;
    line-height: 1.5;
    font-family: Helvetica;
    font-style: normal;
    overflow: hidden;
}
