#metaInfo {
    position: absolute;
    margin: 1;
    left: 36px; top: 22px;
    width: 380px; height:14px;
    color: #cccccc;
    text-align: left;
    font-weight: regular;
    line-height: 1.5;
    font-family: Roman;
    font-style: normal;
    overflow: hidden;
}
#stationInfo {
    position: absolute;
    margin: 1;
    left: 274px; top: 210px;
    width: 143px; height:27px;
    color: #cccccc;
    text-align: left;
    font-weight: regular;
    line-height: 1.2;
    font-family: Roman;
    font-style: normal;
    overflow: hidden;
}
