#metaInfo {
    position: absolute;
    margin: 1;
    left: 35px; top: 16px;
    width: 304px; height:18px;
    color: #999999;
    text-align: left;
    font-weight: regular;
    line-height: 1.3;
    font-family: Helvetica;
    font-style: normal;
    overflow: hidden;
}
#stationInfo {
    position: absolute;
    margin: 1;
    left: 35px; top: 41px;
    width: 142px; height:32px;
    color: #999999;
    text-align: left;
    font-weight: regular;
    line-height: 1.2;
    font-family: Helvetica;
    font-style: normal;
    overflow: hidden;
}
