#metaInfo {
    position: absolute;
    margin: 1;
    left: 36px; top: 236px;
    width: 334px; height:18px;
    color: #ffcc00;
    text-align: left;
    font-weight: bold;
    line-height: 1.5;
    font-family: Helvetica;
    font-style: normal;
    overflow: hidden;
}
#stationInfo {
    position: absolute;
    margin: 1;
    left: 36px; top: 218px;
    width: 378px; height:18px;
    color: #ffcc00;
    text-align: left;
    font-weight: bold;
    line-height: 1.5;
    font-family: Helvetica;
    font-style: normal;
    overflow: hidden;
}
