#coldspotTL1x1 { position: absolute; left: 0px; top: 0px; }
#coldspotTR1x1 { position: absolute; left: 479px; top: 0px; }
#coldspotBL1x1 { position: absolute; left: 0px; top: 271px; }
#coldspotBR1x1 { position: absolute; left: 479px; top: 271px; }
