#metaInfo {
    position: absolute;
    margin: 1;
    left: 38px; top: 167px;
    width: 380px; height:27px;
    color: #ffffff;
    text-align: center;
    font-weight: regular;
    line-height: 1.2;
    font-family: Helvetica;
    font-style: normal;
    overflow: hidden;
}
#stationInfo {
    position: absolute;
    margin: 1;
    left: 38px; top: 9px;
    width: 380px; height:18px;
    color: #ffffff;
    text-align: left;
    font-weight: regular;
    line-height: 1.5;
    font-family: Helvetica;
    font-style: normal;
    overflow: hidden;
}
