#metaInfo {
    position: absolute;
    margin: 1;
    left: 114px; top: 234px;
    width: 226px; height:18px;
    color: #000000;
    text-align: center;
    font-weight: bold;
    line-height: 1.5;
    font-family: Helvetica;
    font-style: normal;
    overflow: hidden;
}
#stationInfo {
    position: absolute;
    margin: 1;
    left: 127px; top: 247px;
    width: 200px; height:18px;
    color: #000000;
    text-align: center;
    font-weight: regular;
    line-height: 1.5;
    font-family: Helvetica;
    font-style: normal;
    overflow: hidden;
}
