#metaInfo {
    position: absolute;
    margin: 1;
    left: 33px; top: 9px;
    width: 348px; height:18px;
    color: #b7b7b7;
    text-align: center;
    font-weight: bold;
    line-height: 1.5;
    font-family: Helvetica;
    font-style: normal;
    overflow: hidden;
}
#stationInfo {
    position: absolute;
    margin: 1;
    left: 40px; top: 240px;
    width: 332px; height:18px;
    color: #b7b7b7;
    text-align: center;
    font-weight: regular;
    line-height: 1.5;
    font-family: Helvetica;
    font-style: normal;
    overflow: hidden;
}
